/* Bike Shop CSS
================================================== 
================================================== */
h2{font-family: Program, sans-serif;color: #888888;font-size: 1.625em;text-transform: uppercase;}
h3{font-family: Program, sans-serif;color: #DDDDDD;font-size: 1.250em; font-weight: bold;}
h4{font-family: Program, sans-serif;color: #FFFFFF;font-size: 1em; font-weight: bold;}
h5{font-family: Program, sans-serif;color: #888888;font-size: 1em;}
h6{font-family: Program, sans-serif;color: #888888;font-size: 1em;}
p{font-family: Program, sans-serif;color: #888888; font-size: 1em;}
img{height: 500px;width: 500px;}
nav{text-align: center;text-transform: capitalize;background-color: #444444;border-top: #C0392B medium solid;height: 30px;padding-bottom: 15px;}
nav li{color:#111111;display: inline-block;opacity: .85;padding:5px;}
nav li:hover{color:#DDDDDD;opacity: 1;background-color: #111111;}
header{background-image: url("../images/banner.jpg");background-repeat: no-repeat;margin:0px;height: 500px;object-fit: cover;background-size:cover;}
header img{height: auto; width: auto;}
#homeNav{background-color: #111111;margin:0px;display:inline-block;padding:50px;background-size:cover;overflow:inherit;position: relative;text-align: center;}
#homeNav article{padding-right: 65px;padding-left: 65px;margin: 0px;}
#homeNav h2{position: relative;bottom: 175px;background-color:rgba(0,0,0,.5);}
#homeNav img{height: 250px; width:250px;}
#homeNav article:first-of-type{float: left;}
#homeNav article:nth-of-type(2){float:left;}
#homeNav article:last-of-type{float:right;}
#featured{margin: 0px;}
#featured article{height: 480px;width: 400px;}
#featured article:nth-of-type(3){float:right;}
#featured article:nth-of-type(1){float:left;}
#featured article:nth-of-type(2){float:left;}
#featured article:nth-of-type(6){float:right;}
#featured article:nth-of-type(4){float:left;}
#featured article:nth-of-type(5){float:left;}
#featured img{height: 200px; width:280px;}
#featured img:last-of-type{height: auto;width: auto;}
#featured h4{color: #111111;}
#memberBenefits{background-image: url("../images/gears.jpg");background-repeat: no-repeat;object-fit: cover; text-align: center;margin: 0px; display:inline-block;width:100%;overflow: auto;background-size:cover;background-color: #3F3F3F; background-blend-mode:darken;}
#memberBenefits h2{color: #111111;}
#memberBenefits p{color: #666666;}
#memberBenefits article{height: 200px;width: 200px;background-repeat: no-repeat;background-position: top;padding:100px;}
#memberBenefits article:first-of-type{float:left;background-image: url("../images/truck.png");}
#memberBenefits article:nth-of-type(2){float:left;background-image: url("../images/wrench.png");}
#memberBenefits article:last-of-type{float:right;background-image: url("../images/envelope.png");}
#products{margin: 0px;}
#products h2{text-align: center;}
#products article{height: 480px;width: 400px;margin: 5px;}
#products article:nth-of-type(3){float:right;}
#products article:nth-of-type(1){float:left;}
#products article:nth-of-type(2){float:left;}
#products article:nth-of-type(6){float:right;}
#products article:nth-of-type(4){float:left;}
#products article:nth-of-type(5){float:left;}
#products img{height: 200px; width:280px;}
#products img:last-of-type{height: auto;width: auto;}
#products p:last-of-type{visibility: hidden;}
#products button{display: block; margin: 0 auto;}
#events{margin: 0px;background-color: #888888;display: inline-block;}
#events h2{color: #111111;text-align: center;}
#events article{height: 375px;width: 300px;background-color: #FFFFFF;text-align: center;margin:55px;}
#events article:nth-of-type(3){float:right;}
#events article:nth-of-type(1){float:left;}
#events article:nth-of-type(2){float:left;}
#events article:nth-of-type(6){float:right;}
#events article:nth-of-type(4){float:left;}
#events article:nth-of-type(5){float:left;}
#events img{height: 150px; width:300px;}
footer{background-color: #111111;margin:0px;object-fit: cover;display:inline-block;overflow: auto;}
footer section{padding:50px;}
footer li{color:#FFFFFF;}
#social{float:right;}
#social li{ opacity: .25;display: inline;}
#social li:hover{opacity: 1;}
#social li:nth-of-type(1){background-image: url("../images/social FB.png");background-repeat: no-repeat;}
#social li:nth-of-type(2){background-image: url("../images/social twitter.png");background-repeat: no-repeat;}
#social li:nth-of-type(3){background-image: url("../images/social YT.png");background-repeat: no-repeat;}
#social li:nth-of-type(4){background-image: url("../images/social insta.png");background-repeat: no-repeat;}
#getHelp{float:left;}
#footerOther{float:left;}
#news{float:left;}
#footerBottom{float: left;position: relative;bottom: 5px;}
#footerBottom li{ display: inline;position: relative;bottom: 5px;right:5px;}
#footerBottom h5{display: inline;}
html{margin: 0;}

